*                                                           @Roblox/creator-knowledge

/content/common/                                            @Roblox/documentation
/content/common/localization_manifest.json                  @Roblox/creator-knowledge
/content/en-us/                                             @Roblox/documentation
/content/en-us/assets/education/                            @Roblox/documentation
/content/en-us/education/                                   @Roblox/documentation
/tools/checks/utils/allowedHttpLinks.txt                    @Roblox/creator-knowledge @Roblox/documentation
/tools/checks/utils/do-not-machine-translate.txt            @Roblox/creator-knowledge @Roblox/documentation
/STYLE.md                                                   @Roblox/documentation
