{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloud API",
    "description": "Open Cloud 2.0",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://apis.roblox.com/cloud"
    }
  ],
  "paths": {
    "/cloud/v2/creator-store-products": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Add a Creator Store product.",
        "operationId": "Cloud_CreateCreatorStoreProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorStoreProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "creator-store-product:write"
            ],
            "title": "Create Creator Store Product"
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      }
    },
    "/cloud/v2/creator-store-products/{creator-store-product}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Get a Creator Store product.",
        "operationId": "Cloud_GetCreatorStoreProduct",
        "parameters": [
          {
            "name": "creator-store-product",
            "in": "path",
            "description": "The creator-store-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "creator-store-product:read"
            ],
            "title": "Get Creator Store Product"
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Update a Creator Store product.",
        "operationId": "Cloud_UpdateCreatorStoreProduct",
        "parameters": [
          {
            "name": "creator-store-product",
            "in": "path",
            "description": "The creator-store-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the creator store product is not found, a creator store\n product is created. In this situation, `update_mask` is ignored.",
            "schema": {
              "type": "boolean",
              "x-example-values": {
                "exampleValues": [
                  true
                ]
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorStoreProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "creator-store-product:write"
            ],
            "title": "Update Creator Store Product"
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      }
    },
    "/cloud/v2/groups/{group}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets the specified group.",
        "operationId": "Cloud_GetGroup",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Get Group"
          },
          "resource": {
            "$ref": "#/components/schemas/Group",
            "name": "Group"
          }
        }
      }
    },
    "/cloud/v2/groups/{group}/join-requests": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "List join requests under a group.",
        "operationId": "Cloud_ListGroupJoinRequests",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group join requests to return. The service might\n return fewer than this value. If unspecified, at most 10 group join\n requests are returned. The maximum value is 20 and higher values are set\n to 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 20, inclusive",
              "exampleValues": [
                10
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n Filtering conforms to Common Expression Language (CEL). Only the `user`\n field and `==` operator are supported.\n\n\n Example: `\"user == 'users/156'\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupJoinRequestsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "group:read"
            ],
            "title": "List Group Join Requests"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/cloud/v2/groups/{group}/join-requests/{join-request}:accept": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Accepts a join request.",
        "operationId": "Cloud_AcceptGroupJoinRequest",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join-request",
            "in": "path",
            "description": "The join-request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptGroupJoinRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "group:write"
            ],
            "title": "Accept Group Join Request"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/cloud/v2/groups/{group}/join-requests/{join-request}:decline": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Declines a join request.",
        "operationId": "Cloud_DeclineGroupJoinRequest",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join-request",
            "in": "path",
            "description": "The join-request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeclineGroupJoinRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "group:write"
            ],
            "title": "Decline Group Join Request"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/cloud/v2/groups/{group}/memberships": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "List group members in a group.",
        "operationId": "Cloud_ListGroupMemberships",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group memberships to return. The service might return\n fewer than this value. If unspecified, at most 10 group memberships are\n returned. The maximum value is 100 and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 100, inclusive",
              "exampleValues": [
                10
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n See the\n [filtering](/cloud/reference/patterns#list-group-memberships)\n documentation for more information.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupMembershipsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "List Group Memberships"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupMembership",
            "name": "GroupMembership"
          }
        }
      }
    },
    "/cloud/v2/groups/{group}/roles": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "List roles in a group.\n\n The permissions field for roles is viewable based on the requester's access\n and scopes.\n\n Permissions for the guest role are always visible - a scope is not needed.\n\n If the requester is a member of the group and has the `group:read` scope,\n permissions in their role are visible.\n\n If the requester is the owner of the group and has the `group:read` scope,\n permissions in all roles are visible.",
        "operationId": "Cloud_ListGroupRoles",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group roles to return. The service might return fewer\n than this value. If unspecified, at most 10 group roles are returned. The\n maximum value is 20 and higher values are set to 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 20, inclusive",
              "exampleValues": [
                10
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupRolesResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "List Group Roles"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupRole",
            "name": "GroupRole"
          }
        }
      }
    },
    "/cloud/v2/groups/{group}/shout": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets the group shout.\n\n If a guest can view the group shout, this is always retrievable.\n\n If a guest cannot, a member who has the permissions to view the group\n shout, along with the `group:read` scope, will be able to read the group\n shout.",
        "operationId": "Cloud_GetGroupShout",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupShout"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Get Group Shout"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupShout",
            "name": "GroupShout"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets the specified universe.",
        "operationId": "Cloud_GetUniverse",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Universe"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Get Universe"
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Updates the specified universe.\n\n This method is guaranteed to return all updated fields.\n This method may additionally return the full resource.",
        "operationId": "Cloud_UpdateUniverse",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Universe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Universe"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe:write"
            ],
            "title": "Update Universe"
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/memory-store/queues/{queue}/items": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Creates a new queue item.\n\n If `ttl` is set, the item will automatically be removed from the queue\n after the time interval specified.\n\n If a numerical `priority` is set, the item will be inserted into the queue\n based on the priority value. The higher the value, the closer to the front\n of the queue the item will be. If priority values are the same then the\n item will be inserted after existing values with the same priority.",
        "operationId": "Cloud_CreateMemoryStoreQueueItem",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queue",
            "in": "path",
            "description": "The queue ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryStoreQueueItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryStoreQueueItem"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.queue:write"
            ],
            "title": "Create Memory Store Queue Item"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreQueueItem",
            "name": "MemoryStoreQueueItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/memory-store/queues/{queue}/items:discard": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Discards read items from the front of the queue.\n\n Takes a `readId` from a previous `Read` operation.",
        "operationId": "Cloud_DiscardMemoryStoreQueueItems",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queue",
            "in": "path",
            "description": "The queue ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscardMemoryStoreQueueItemsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.queue:discard"
            ],
            "title": "Discard Memory Store Queue Items"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreQueueItem",
            "name": "MemoryStoreQueueItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/memory-store/queues/{queue}/items:read": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Returns the specified number of items at the front of the queue.",
        "operationId": "Cloud_ReadMemoryStoreQueueItems",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queue",
            "in": "path",
            "description": "The queue ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of items to read from the queue\n If unspecified, 1 item will be returned.\n The maximum value is 200; values above 200 will be coerced to 200.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "allOrNothing",
            "in": "query",
            "description": "If `all_or_nothing` is true and the requested number of objects is not\n available, will return a 404 Error.\n\n Otherwise, will return the path and read_id of the read operation and a\n list of the MemoryStoreQueue items.",
            "schema": {
              "type": "boolean",
              "x-example-values": {
                "exampleValues": [
                  true
                ]
              }
            }
          },
          {
            "name": "invisibilityWindow",
            "in": "query",
            "description": "Invisibility window for items read, in seconds.\n\n Items read are invisible in subsequent reads during the invisibility\n window duration.\n\n It must be written in seconds greater than 0 and end with `s`.\n\n Defaults to `30s`.",
            "schema": {
              "type": "string",
              "format": "duration",
              "x-example-values": {
                "exampleValues": [
                  "3s",
                  "3.5s"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadMemoryStoreQueueItemsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.queue:dequeue"
            ],
            "title": "Read Memory Store Queue Items"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreQueueItem",
            "name": "MemoryStoreQueueItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/memory-store/sorted-maps/{sorted-map}/items": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets and returns items in the map with a given order and filter.",
        "operationId": "Cloud_ListMemoryStoreSortedMapItems",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted-map",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of memory store sorted map items to return. The service\n might return fewer than this value. If unspecified, at most 1 memory store\n sorted map items are returned. The maximum value is 100 and higher values\n are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 100, inclusive",
              "exampleValues": [
                1
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "If specified, results are ordered according to the specified fields.\n\n Values must be a comma-separated list of fields, with an optional,\n per-field \" desc\" suffix to sort by descending rather than ascending\n values. You can access subfields with a `.` operator.\n\n Results may be ordered by the following fields: id.\n\n Example: \"id desc\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n Filtering conforms to Common Expression Language (CEL). Only the `id`\n and `sortKey` fields are supported. In terms of operators, only `<`, `>`\n and `&&` are allowed'\n\n Example: `id > \"key-001\" && id < \"key-100\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMemoryStoreSortedMapItemsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:read"
            ],
            "title": "List Memory Store Sorted Map Items"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      },
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Creates the specified map item if it doesn't exist.",
        "operationId": "Cloud_CreateMemoryStoreSortedMapItem",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted-map",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID to use for the memory store sorted map item, which will become the\n final component of the memory store sorted map item's resource path.\n\n This value should be a 1-127 character string that supports alphanumeric\n and special characters. This id is case sensitive. The id must be url\n encoded if it contains any url breaking special characters.",
            "schema": {
              "type": "string"
            },
            "x-example-values": {
              "description": "a 1-127 character string that supports alphanumeric and special characters. This id is case sensitive. The id must be url encoded if it contains any url breaking special characters.",
              "exampleValues": [
                "Hello!",
                "TestValue123"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:write"
            ],
            "title": "Create Memory Store Sorted Map Item"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/memory-store/sorted-maps/{sorted-map}/items/{item}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets and returns the value of the given key in the map.",
        "operationId": "Cloud_GetMemoryStoreSortedMapItem",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted-map",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "The item ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:read"
            ],
            "title": "Get Memory Store Sorted Map Item"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      },
      "delete": {
        "tags": [
          "Cloud"
        ],
        "description": "Deletes the specified item from the map.",
        "operationId": "Cloud_DeleteMemoryStoreSortedMapItem",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted-map",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "The item ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:write"
            ],
            "title": "Delete Memory Store Sorted Map Item"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Updates the specified map item.",
        "operationId": "Cloud_UpdateMemoryStoreSortedMapItem",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted-map",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item",
            "in": "path",
            "description": "The item ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the memory store sorted map item is not found, a memory\n store sorted map item is created.",
            "schema": {
              "type": "boolean",
              "x-example-values": {
                "exampleValues": [
                  true
                ]
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:write"
            ],
            "title": "Update Memory Store Sorted Map Item"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/memory-store:flush": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Asynchronously flush all data structures in the universe.",
        "operationId": "Cloud_FlushMemoryStore",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlushMemoryStoreRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation",
                  "x-long-running-operation-parameters": {
                    "metadata": {
                      "$ref": "#/components/schemas/FlushMemoryStoreMetadata"
                    },
                    "response": {
                      "$ref": "#/components/schemas/FlushMemoryStoreResponse"
                    }
                  }
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.memory-store:flush"
            ],
            "title": "Flush Memory Store"
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStore",
            "name": "MemoryStore"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/places/{place}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets the specified place.",
        "operationId": "Cloud_GetPlace",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "in": "path",
            "description": "The place ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Get Place"
          },
          "resource": {
            "$ref": "#/components/schemas/Place",
            "name": "Place"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Updates the specified place.",
        "operationId": "Cloud_UpdatePlace",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "in": "path",
            "description": "The place ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Place"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Place"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.place:write"
            ],
            "title": "Update Place"
          },
          "resource": {
            "$ref": "#/components/schemas/Place",
            "name": "Place"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/places/{place}/instances/{instance}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets an instance and its property data.\n\n The maximum supported response data size is 500,000 bytes. If this limit is\n exceeded, the returned `Operation` will be completed with an error result\n that has an error code of `422`.",
        "operationId": "Cloud_GetInstance",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "in": "path",
            "description": "The place ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "in": "path",
            "description": "The instance ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation",
                  "x-long-running-operation-parameters": {
                    "metadata": {
                      "$ref": "#/components/schemas/GetInstanceMetadata"
                    },
                    "response": {
                      "$ref": "#/components/schemas/Instance"
                    }
                  }
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.place.instance:read"
            ],
            "title": "Get Instance"
          },
          "resource": {
            "$ref": "#/components/schemas/Instance",
            "name": "Instance"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Updates an instance's property data.\n\n When updating a `Script` instance's source property, the maximum supported\n property size is 200,000 bytes after UTF-8 encoding.",
        "operationId": "Cloud_UpdateInstance",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "in": "path",
            "description": "The place ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "in": "path",
            "description": "The instance ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Instance"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation",
                  "x-long-running-operation-parameters": {
                    "metadata": {
                      "$ref": "#/components/schemas/UpdateInstanceMetadata"
                    },
                    "response": {
                      "$ref": "#/components/schemas/Instance"
                    }
                  }
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.place.instance:write"
            ],
            "title": "Update Instance"
          },
          "resource": {
            "$ref": "#/components/schemas/Instance",
            "name": "Instance"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/places/{place}/instances/{instance}:listChildren": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Lists an instance's children.\n\n The maximum supported response data size is 500,000 bytes. If this limit is\n exceeded, the returned `Operation` will be completed with an error result\n that has an error code of `422`.",
        "operationId": "Cloud_ListInstanceChildren",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "in": "path",
            "description": "The place ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance",
            "in": "path",
            "description": "The instance ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of child instance to return. The service may return\n fewer than this value. If unspecified, at most 200 children will be\n returned. The maximum value is 200; values above 200 will be coerced to\n 200.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 200, inclusive",
              "exampleValues": [
                100
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous `ListInstanceChildrenRequest` call.\n Provide this to retrieve the subsequent page.\n\n When paginating, all other parameters provided to\n `ListInstanceChildrenRequest` must match the call that provided the page\n token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation",
                  "x-long-running-operation-parameters": {
                    "metadata": {
                      "$ref": "#/components/schemas/ListInstanceChildrenMetadata"
                    },
                    "response": {
                      "$ref": "#/components/schemas/ListInstanceChildrenResponse"
                    }
                  }
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.place.instance:read"
            ],
            "title": "List Instance Children"
          },
          "resource": {
            "$ref": "#/components/schemas/Instance",
            "name": "Instance"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/places/{place}/user-restrictions/{user-restriction}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Get the user restriction.",
        "operationId": "Cloud_GetUserRestriction",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "in": "path",
            "description": "The place ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-restriction",
            "in": "path",
            "description": "The user-restriction ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRestriction"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.user-restriction:read"
            ],
            "title": "Get User Restriction"
          },
          "resource": {
            "$ref": "#/components/schemas/UserRestriction",
            "name": "UserRestriction"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Update the user restriction.",
        "operationId": "Cloud_UpdateUserRestriction",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "place",
            "in": "path",
            "description": "The place ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-restriction",
            "in": "path",
            "description": "The user-restriction ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          },
          {
            "name": "idempotencyKey.key",
            "in": "query",
            "description": "The unique key to use for idempotency.\n string key = 1;",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey.firstSent",
            "in": "query",
            "description": "The timestamp at which the first request was sent.\n\n If this is further in the past than the lifetime of the idempotency key\n (which *may* exceed the annotated minimum lifetime), the server *must*\n return an error.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-example-values": {
                "exampleValues": [
                  "2023-07-05T12:34:56Z"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRestriction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRestriction"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.user-restriction:write"
            ],
            "title": "Update User Restriction"
          },
          "resource": {
            "$ref": "#/components/schemas/UserRestriction",
            "name": "UserRestriction"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/subscription-products/{subscription-product}/subscriptions/{subscription}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Get the subscription.\n\n The `universe.subscription-product.subscription:read` scope only allows\n you to get your own subscriptions—or rather, the subscription ID must\n match the user ID that makes the request—so its best use case is with\n OAuth 2.0 authentication rather than an API key. To read all\n subscriptions for a universe, use the `universe:write` scope.",
        "operationId": "Cloud_GetSubscription",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription-product",
            "in": "path",
            "description": "The subscription-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subscription",
            "in": "path",
            "description": "The subscription ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "view",
            "in": "query",
            "description": "The view in which to retrieve the subscription.\n\n Supports BASIC and FULL.\n\n Defaults to BASIC.",
            "schema": {
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "type": "string",
              "format": "enum",
              "x-example-values": {
                "exampleValues": [
                  "VIEW_UNSPECIFIED"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Subscription"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe:write",
              "universe.subscription-product.subscription:read"
            ],
            "title": "Get Subscription"
          },
          "resource": {
            "$ref": "#/components/schemas/Subscription",
            "name": "Subscription"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/user-restrictions/{user-restriction}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Get the user restriction.",
        "operationId": "Cloud_GetUserRestriction",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-restriction",
            "in": "path",
            "description": "The user-restriction ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRestriction"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.user-restriction:read"
            ],
            "title": "Get User Restriction"
          },
          "resource": {
            "$ref": "#/components/schemas/UserRestriction",
            "name": "UserRestriction"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Update the user restriction.",
        "operationId": "Cloud_UpdateUserRestriction",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user-restriction",
            "in": "path",
            "description": "The user-restriction ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          },
          {
            "name": "idempotencyKey.key",
            "in": "query",
            "description": "The unique key to use for idempotency.\n string key = 1;",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idempotencyKey.firstSent",
            "in": "query",
            "description": "The timestamp at which the first request was sent.\n\n If this is further in the past than the lifetime of the idempotency key\n (which *may* exceed the annotated minimum lifetime), the server *must*\n return an error.",
            "schema": {
              "type": "string",
              "format": "date-time",
              "x-example-values": {
                "exampleValues": [
                  "2023-07-05T12:34:56Z"
                ]
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRestriction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserRestriction"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.user-restriction:write"
            ],
            "title": "Update User Restriction"
          },
          "resource": {
            "$ref": "#/components/schemas/UserRestriction",
            "name": "UserRestriction"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}/user-restrictions:listLogs": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "List changes to UserRestriction resources within a given universe.\n This includes both universe-level and place-level restrictions.\n\n For universe-level restriction logs, the `place` field will be empty.",
        "operationId": "Cloud_ListUserRestrictionLogs",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of UserRestrictionLogs to return. The service may return\n fewer than this value. If unspecified, at most 10 UserRestrictionLogs are\n returned. The maximum value is 100 and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 100, inclusive",
              "exampleValues": [
                10
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set to filter the logs returned.\n\n The `filter` field supports a very small number of CEL:\n\n * `user`\n * `place`\n * The `==` comparison operator is available.\n * The `&&` logical operator is also supported.\n\n As an example, filtering for a user and a place takes the form\n `filter=\"user == 'users/123'\" && \"place == 'places/456'\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserRestrictionLogsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe.user-restriction:read"
            ],
            "title": "List User Restriction Logs"
          },
          "resource": {
            "$ref": "#/components/schemas/UserRestriction",
            "name": "UserRestriction"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe}:restartServers": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Restarts all active servers for a specific universe if and only if a new\n version of the experience has been published. Used for releasing experience\n updates.",
        "operationId": "Cloud_RestartUniverseServers",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestartUniverseServersRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RestartUniverseServersResponse"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe:write"
            ],
            "title": "Restart Universe Servers"
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        }
      }
    },
    "/cloud/v2/users/{user}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets a user's basic and advanced information.\n\n To access a user's public information, no additional scopes are required.\n\n To access a user's premium or verification status, you need the following\n scopes:\n * user.advanced.read\n\n To access a user's social account information, you need the following\n scopes:\n * user.social.read",
        "operationId": "Cloud_GetUser",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "description": "The user ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Get User"
          },
          "resource": {
            "$ref": "#/components/schemas/User",
            "name": "User"
          }
        }
      }
    },
    "/cloud/v2/users/{user}/inventory-items": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "List the inventory items in a user's inventory.\n\n The inventory items returned depend on the target user’s choice under\n **Settings > Privacy > Who can see my inventory?**:\n * If the user granted inventory visibility to \"Everyone,\" then any API key\n or OAuth2 token can be used to view the target’s inventory, no matter what\n scopes it has or who created it.\n * If the user has not granted inventory visibility to \"Everyone\":\n   * Their inventory can still be viewed with an API key created by the\n   target user with **Inventory: Read** permission.\n   * Their inventory can still be viewed with an OAuth2 token if the target\n   user authorizes an app requesting permissions for the\n   `user.inventory-item:read` scope.",
        "operationId": "Cloud_ListInventoryItems",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "description": "The user ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of inventory items to return. The service might return\n fewer than this value. If unspecified, at most 10 inventory items are\n returned. The maximum value is 100 and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 100, inclusive",
              "exampleValues": [
                10
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n See the\n [filtering](/cloud/reference/patterns#list-inventory-items)\n documentation for more information.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInventoryItemsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "List Inventory Items"
          },
          "resource": {
            "$ref": "#/components/schemas/InventoryItem",
            "name": "InventoryItem"
          }
        }
      }
    },
    "/cloud/v2/users/{user}/notifications": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Sends a notification to a user.",
        "operationId": "Cloud_CreateUserNotification",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "description": "The user ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserNotification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserNotification"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "user.user-notification:write"
            ],
            "title": "Create User Notification"
          },
          "resource": {
            "$ref": "#/components/schemas/UserNotification",
            "name": "UserNotification"
          }
        }
      }
    },
    "/cloud/v2/users/{user}:generateThumbnail": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Generates and returns the URL for the user's avatar thumbnail.",
        "operationId": "Cloud_GenerateUserThumbnail",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "description": "The user ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size of the generated thumbnail. The generated thumbnail will have `size *\n size` dimension.\n\n Currently supported values:\n 48, 50, 60, 75, 100, 110, 150, 180, 352, 420, 720\n Default is 420.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "Specify the format of the generated thumbnail. Default is `PNG`.",
            "schema": {
              "enum": [
                "FORMAT_UNSPECIFIED",
                "PNG",
                "JPEG"
              ],
              "type": "string",
              "format": "enum",
              "x-example-values": {
                "exampleValues": [
                  "FORMAT_UNSPECIFIED"
                ]
              }
            }
          },
          {
            "name": "shape",
            "in": "query",
            "description": "Specify the shape of the thumbnail. Default is `ROUND` (circular).",
            "schema": {
              "enum": [
                "SHAPE_UNSPECIFIED",
                "ROUND",
                "SQUARE"
              ],
              "type": "string",
              "format": "enum",
              "x-example-values": {
                "exampleValues": [
                  "SHAPE_UNSPECIFIED"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation",
                  "x-long-running-operation-parameters": {
                    "metadata": {
                      "$ref": "#/components/schemas/GenerateUserThumbnailMetadata"
                    },
                    "response": {
                      "$ref": "#/components/schemas/GenerateUserThumbnailResponse"
                    }
                  }
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Generate User Thumbnail"
          },
          "resource": {
            "$ref": "#/components/schemas/User",
            "name": "User"
          }
        }
      }
    },
    "/v2/creator-store-products": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Add a Creator Store product.",
        "operationId": "Cloud_CreateCreatorStoreProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorStoreProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "creator-store-product:write"
            ],
            "title": "Create Creator Store Product"
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      }
    },
    "/v2/creator-store-products/{creator-store-product}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Get a Creator Store product.",
        "operationId": "Cloud_GetCreatorStoreProduct",
        "parameters": [
          {
            "name": "creator-store-product",
            "in": "path",
            "description": "The creator-store-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "creator-store-product:read"
            ],
            "title": "Get Creator Store Product"
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Update a Creator Store product.",
        "operationId": "Cloud_UpdateCreatorStoreProduct",
        "parameters": [
          {
            "name": "creator-store-product",
            "in": "path",
            "description": "The creator-store-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the creator store product is not found, a creator store\n product is created. In this situation, `update_mask` is ignored.",
            "schema": {
              "type": "boolean",
              "x-example-values": {
                "exampleValues": [
                  true
                ]
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorStoreProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "creator-store-product:write"
            ],
            "title": "Update Creator Store Product"
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      }
    },
    "/v2/groups/{group}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets the specified group.",
        "operationId": "Cloud_GetGroup",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Get Group"
          },
          "resource": {
            "$ref": "#/components/schemas/Group",
            "name": "Group"
          }
        }
      }
    },
    "/v2/groups/{group}/join-requests": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "List join requests under a group.",
        "operationId": "Cloud_ListGroupJoinRequests",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group join requests to return. The service might\n return fewer than this value. If unspecified, at most 10 group join\n requests are returned. The maximum value is 20 and higher values are set\n to 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 20, inclusive",
              "exampleValues": [
                10
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n Filtering conforms to Common Expression Language (CEL). Only the `user`\n field and `==` operator are supported.\n\n\n Example: `\"user == 'users/156'\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupJoinRequestsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "group:read"
            ],
            "title": "List Group Join Requests"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/v2/groups/{group}/join-requests/{join-request}:accept": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Accepts a join request.",
        "operationId": "Cloud_AcceptGroupJoinRequest",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join-request",
            "in": "path",
            "description": "The join-request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptGroupJoinRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "group:write"
            ],
            "title": "Accept Group Join Request"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/v2/groups/{group}/join-requests/{join-request}:decline": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Declines a join request.",
        "operationId": "Cloud_DeclineGroupJoinRequest",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join-request",
            "in": "path",
            "description": "The join-request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeclineGroupJoinRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "group:write"
            ],
            "title": "Decline Group Join Request"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/v2/groups/{group}/memberships": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "List group members in a group.",
        "operationId": "Cloud_ListGroupMemberships",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group memberships to return. The service might return\n fewer than this value. If unspecified, at most 10 group memberships are\n returned. The maximum value is 100 and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 100, inclusive",
              "exampleValues": [
                10
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n See the\n [filtering](/cloud/reference/patterns#list-group-memberships)\n documentation for more information.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupMembershipsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "List Group Memberships"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupMembership",
            "name": "GroupMembership"
          }
        }
      }
    },
    "/v2/groups/{group}/roles": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "List roles in a group.\n\n The permissions field for roles is viewable based on the requester's access\n and scopes.\n\n Permissions for the guest role are always visible - a scope is not needed.\n\n If the requester is a member of the group and has the `group:read` scope,\n permissions in their role are visible.\n\n If the requester is the owner of the group and has the `group:read` scope,\n permissions in all roles are visible.",
        "operationId": "Cloud_ListGroupRoles",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group roles to return. The service might return fewer\n than this value. If unspecified, at most 10 group roles are returned. The\n maximum value is 20 and higher values are set to 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-example-values": {
              "description": "An integer between 1 and 20, inclusive",
              "exampleValues": [
                10
              ]
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupRolesResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "List Group Roles"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupRole",
            "name": "GroupRole"
          }
        }
      }
    },
    "/v2/groups/{group}/shout": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets the group shout.\n\n If a guest can view the group shout, this is always retrievable.\n\n If a guest cannot, a member who has the permissions to view the group\n shout, along with the `group:read` scope, will be able to read the group\n shout.",
        "operationId": "Cloud_GetGroupShout",
        "parameters": [
          {
            "name": "group",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupShout"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Get Group Shout"
          },
          "resource": {
            "$ref": "#/components/schemas/GroupShout",
            "name": "GroupShout"
          }
        }
      }
    },
    "/v2/universes/{universe}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "description": "Gets the specified universe.",
        "operationId": "Cloud_GetUniverse",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Universe"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [],
            "title": "Get Universe"
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "description": "Updates the specified universe.\n\n This method is guaranteed to return all updated fields.\n This method may additionally return the full resource.",
        "operationId": "Cloud_UpdateUniverse",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Universe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Universe"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Cloud",
          "methodProperties": {
            "scopes": [
              "universe:write"
            ],
            "title": "Update Universe"
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        }
      }
    },
    "/v2/universes/{universe}/memory-store/queues/{queue}/items": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "description": "Creates a new queue item.\n\n If `ttl` is set, the item will automatically be removed from the queue\n after the time interval specified.\n\n If a numerical `priority` is set, the item will be inserted into the queue\n based on the priority value. The higher the value, the closer to the front\n of the queue the item will be. If priority values are the same then the\n item will be inserted after existing values with the same priority.",
        "operationId": "Cloud_CreateMemoryStoreQueueItem",
        "parameters": [
          {
            "name": "universe",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queue",
            "in": "path",
            "description": "The queue ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryStoreQueueItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
[...]
