{
  "openapi": "3.0.0",
  "info": {
    "title": "Cloud API",
    "description": "The Roblox Open Cloud v2 API. This is a subset of endpoints that Roblox\n provides. See https://create.roblox.com/docs/cloud/open-cloud for more\n details.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://apis.roblox.com"
    }
  ],
  "paths": {
    "/cloud/v2/creator-store-products": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Create Creator Store Product",
        "description": "Add a Creator Store product.",
        "operationId": "Cloud_CreateCreatorStoreProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorStoreProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Monetization",
          "methodProperties": {
            "scopes": [
              "creator-store-product:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      }
    },
    "/cloud/v2/creator-store-products/{creator_store_product_id}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Creator Store Product",
        "description": "Get a Creator Store product.",
        "operationId": "Cloud_GetCreatorStoreProduct",
        "parameters": [
          {
            "name": "creator_store_product_id",
            "in": "path",
            "description": "The creator-store-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Monetization",
          "methodProperties": {
            "scopes": [
              "creator-store-product:read"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "summary": "Update Creator Store Product",
        "description": "Update a Creator Store product.",
        "operationId": "Cloud_UpdateCreatorStoreProduct",
        "parameters": [
          {
            "name": "creator_store_product_id",
            "in": "path",
            "description": "The creator-store-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the creator store product is not found, a creator store\n product is created. In this situation, `update_mask` is ignored.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorStoreProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Monetization",
          "methodProperties": {
            "scopes": [
              "creator-store-product:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Group",
        "description": "Gets the specified group.",
        "operationId": "Cloud_GetGroup",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/Group",
            "name": "Group"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}/join-requests": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Group Join Requests",
        "description": "List join requests under a group.",
        "operationId": "Cloud_ListGroupJoinRequests",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group join requests to return. The service might\n return fewer than this value. If unspecified, at most 10 group join\n requests are returned. The maximum value is 20 and higher values are set\n to 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 20, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n Filtering conforms to Common Expression Language (CEL). Only the `user`\n field and `==` operator are supported.\n\n\n Example: `\"user == 'users/156'\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupJoinRequestsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": [
              "group:read"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}/join-requests/{join_request_id}:accept": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Accept Group Join Request",
        "description": "Accepts a join request.",
        "operationId": "Cloud_AcceptGroupJoinRequest",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join_request_id",
            "in": "path",
            "description": "The join-request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptGroupJoinRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": [
              "group:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}/join-requests/{join_request_id}:decline": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Decline Group Join Request",
        "description": "Declines a join request.",
        "operationId": "Cloud_DeclineGroupJoinRequest",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join_request_id",
            "in": "path",
            "description": "The join-request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeclineGroupJoinRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": [
              "group:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}/memberships": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Group Memberships",
        "description": "List group members in a group.",
        "operationId": "Cloud_ListGroupMemberships",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group memberships to return. The service might return\n fewer than this value. If unspecified, at most 10 group memberships are\n returned. The maximum value is 100 and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n See the\n [filtering](/cloud/reference/patterns#list-group-memberships)\n documentation for more information.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupMembershipsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/GroupMembership",
            "name": "GroupMembership"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}/memberships/{membership_id}": {
      "patch": {
        "tags": [
          "Cloud"
        ],
        "summary": "Update Group Membership",
        "description": "Updates the group membership for a particular group member. This action\n requires the requester to be able to manage lower ranked members. Guest or\n Owner ranks cannot be assigned, and a requester cannot change their own\n rank.",
        "operationId": "Cloud_UpdateGroupMembership",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membership_id",
            "in": "path",
            "description": "The membership ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMembership"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMembership"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": [
              "group:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/GroupMembership",
            "name": "GroupMembership"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}/roles": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Group Roles",
        "description": "List roles in a group.\n\n The permissions field for roles is viewable based on the requester's access\n and scopes.\n\n Permissions for the guest role are always visible - a scope is not needed.\n\n If the requester is a member of the group and has the `group:read` scope,\n permissions in their role are visible.\n\n If the requester is the owner of the group and has the `group:read` scope,\n permissions in all roles are visible.",
        "operationId": "Cloud_ListGroupRoles",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group roles to return. The service might return fewer\n than this value. If unspecified, at most 10 group roles are returned. The\n maximum value is 20 and higher values are set to 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 20, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupRolesResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/GroupRole",
            "name": "GroupRole"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}/roles/{role_id}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Group Role",
        "description": "Get the group role",
        "operationId": "Cloud_GetGroupRole",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "description": "The role ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupRole"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/GroupRole",
            "name": "GroupRole"
          }
        }
      }
    },
    "/cloud/v2/groups/{group_id}/shout": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Group Shout",
        "description": "Gets the group shout.\n\n If a guest can view the group shout, this is always retrievable.\n\n If a guest cannot, a member who has the permissions to view the group\n shout, along with the `group:read` scope, will be able to read the group\n shout.",
        "operationId": "Cloud_GetGroupShout",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupShout"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/GroupShout",
            "name": "GroupShout"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Universe",
        "description": "Gets the specified universe.",
        "operationId": "Cloud_GetUniverse",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Universe"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Universes and places",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "summary": "Update Universe",
        "description": "Updates the specified universe.\n\n This method is guaranteed to return all updated fields.\n This method may additionally return the full resource.",
        "operationId": "Cloud_UpdateUniverse",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Universe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Universe"
                }
              }
            }
          }
        },
        "x-visibility": "STABLE",
        "x-roblox-docs": {
          "category": "Universes and places",
          "methodProperties": {
            "scopes": [
              "universe:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Data Stores",
        "description": "Returns a list of data stores.",
        "operationId": "Cloud_ListDataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of data stores to return. The service might return fewer\n than this value. If unspecified, at most 10 data stores are returned. The\n maximum value is 100 and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n The `filter` field supports a very small subset of CEL:\n\n * Only the `id` field is supported.\n * Only the `startsWith` function is available; no other operators nor\n   built-ins are supported.\n\n Example filter: `id.startsWith(\"foo\")`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoresResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.control:list"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStore",
            "name": "DataStore"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/entries": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Data Store Entries",
        "description": "Returns a list of entries from a data store.\n\n Only the `path` and `id` fields are populated; use `GetDataStoreEntry`\n to retrieve other fields.\n\n Specify the wildcard scope (`-`) to list entries from all scopes.",
        "operationId": "Cloud_ListDataStoreEntries__Using_Universes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of data store entries to return. The service might\n return fewer than this value. If unspecified, at most 10 data store entries\n are returned. The maximum value is 256 and higher values are set to 256.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 256, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n The `filter` field supports a very small subset of CEL:\n\n * Only the `id` field is supported.\n * Only the `startsWith` function is available; no other operators nor\n   built-ins are supported.\n\n Example filter: `id.startsWith(\"foo\")`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "If true, resources marked for pending deletion will be included in the\n results.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoreEntriesResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:list"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      },
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Create Data Store Entry",
        "description": "Creates an entry with the provided ID and value.\n\n Returns a 400 Bad Request if the entry exists.",
        "operationId": "Cloud_CreateDataStoreEntry__Using_Universes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID to use for the data store entry, which will become the final\n component of the data store entry's resource path.\n\n This value should be a 1-50 character string. We strongly recommend using\n only lowercase letters, numeric digits, and hyphens.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "id": {
                "description": "a 1-50 character string. We strongly recommend using only lowercase letters, numeric digits, and hyphens.",
                "value": "my-entry"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:create"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/entries/{entry_id}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Data Store Entry",
        "description": "Gets the specified entry.\n\n To get the entry at a specific revision, add `@<revisionId>` to the end of\n the path.\n\n For example, to get `my-entry` at the revision ID\n `08DC3D3F43F9FCC1.0000000001.08DC3D3F43F9FCC1.01`, use the path\n `/v2/universes/1234/data-stores/5678/entries/my-entry@08DC3D3F43F9FCC1.0000000001.08DC3D3F43F9FCC1.01`.\n\n If your entry ID contains one or more `@` characters, and you want to get\n the latest version rather than at any specific revision, append the special\n revision ID `@latest` to the end of the path. Otherwise, the segment of the\n entry ID after the last `@` will be interpreted as a revision ID.\n\n For example, to get the latest revision of `my-entry`, use the path\n `/v2/universes/1234/data-stores/5678/entries/my@entry@latest`.\n\n To get the entry that was current at a specific time, add\n `@latest:<timestamp>` to the end of the path, where `<timestamp>` is\n RFC-3339 formatted. The given timestamp must be after\n the Unix epoch (1/1/1970) and not more than ten minutes in the future.\n\n For example, to get the revision of `my-entry` that was current on\n 12/2/2024 at 06:00 UTC, use the path\n `/v2/universes/1234/data-stores/5678/entries/my-entry@latest:2024-12-02T06:00:00Z`.",
        "operationId": "Cloud_GetDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:read"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      },
      "delete": {
        "tags": [
          "Cloud"
        ],
        "summary": "Delete Data Store Entry",
        "description": "Marks the specified entry for deletion.\n\n Entries are not be deleted immediately; instead, the `state` field will\n be set to `DELETED`. Permanent deletion occurs after 30 days.\n\n On success, returns 200 OK. If the entry doesn't exist, returns\n 404 Not Found.",
        "operationId": "Cloud_DeleteDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:delete"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "summary": "Update Data Store Entry",
        "description": "Updates the value, attributes, and users of an entry.\n\n Updating specific revisions of the entry is **unsupported**. If you specify\n a revision ID in the path and `allow_missing` is `true`, the update request\n will instead create a new entry with the `@<revisionId>` suffix as part of\n the key.\n\n Partial update is **unsupported**. If attributes or users are not\n provided when updating the value, they will be cleared. Value must always\n be provided when updating an entry.",
        "operationId": "Cloud_UpdateDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the data store entry is not found, a data store entry\n is created.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:update"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/entries/{entry_id}:increment": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Increment Data Store Entry",
        "description": "Increments the value of the specified entry. Both the existing value and\n the increment amount must be integers.\n\n If the entry doesn't exist, creates an entry with the specified value.\n\n Incrementing specific revisions of the entry is **unsupported**. If you\n specify a revision ID in the path, the increment request will create a new\n entry with the `@<revisionId>` suffix as part of the key.\n\n Known issue: the value may be incremented past the valid range of  values.\n When this happens, the returned value will be clamped to the valid range,\n but the backend may persist the original value. This behavior is maintained\n for backwards compatibility reasons, but may change in a future version of\n this API.",
        "operationId": "Cloud_IncrementDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncrementDataStoreEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:create",
              "universe-datastores.objects:update"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/entries/{entry_id}:listRevisions": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Data Store Entry Revisions",
        "description": "List revisions of the data store entry.\n\n This method returns partial data store entries.\n\n In particular, only the `path`, `id`, `createTime`, `revisionCreateTime`,\n `revisionId`, `etag`, and `state` fields are populated. Both the `path` and\n `id` fields will have an `@<version>` suffix.\n\n In order to get the full entry at a revision, you can use the provided\n `path` field with the `GetDataStoreEntry` method, i.e. `GET\n /v1/universes/1234/data-stores/5678/entries/my-entry@<version>`.",
        "operationId": "Cloud_ListDataStoreEntryRevisions__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of revisions to return per page.\n\n The service might return fewer than the maximum number of revisions.\n If unspecified, at most 10 revisions are returned.\n The maximum value is 100 values and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call\n must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Supports the following subset of CEL:\n\n * Only the `&&`, `<=`, and `>=` operators are supported.\n * Only the `revision_create_time` field is supported.\n\n For example:\n\n   `\"revision_create_time >= 2000-01-01T00:00:00Z && revision_create_time <=\n   2001-01-01T00:00:00Z\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoreEntryRevisionsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.versions:list"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/scopes/{scope_id}/entries": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Data Store Entries",
        "description": "Returns a list of entries from a data store.\n\n Only the `path` and `id` fields are populated; use `GetDataStoreEntry`\n to retrieve other fields.\n\n Specify the wildcard scope (`-`) to list entries from all scopes.",
        "operationId": "Cloud_ListDataStoreEntries__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of data store entries to return. The service might\n return fewer than this value. If unspecified, at most 10 data store entries\n are returned. The maximum value is 256 and higher values are set to 256.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 256, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n The `filter` field supports a very small subset of CEL:\n\n * Only the `id` field is supported.\n * Only the `startsWith` function is available; no other operators nor\n   built-ins are supported.\n\n Example filter: `id.startsWith(\"foo\")`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "If true, resources marked for pending deletion will be included in the\n results.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoreEntriesResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:list"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      },
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Create Data Store Entry",
        "description": "Creates an entry with the provided ID and value.\n\n Returns a 400 Bad Request if the entry exists.",
        "operationId": "Cloud_CreateDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID to use for the data store entry, which will become the final\n component of the data store entry's resource path.\n\n This value should be a 1-50 character string. We strongly recommend using\n only lowercase letters, numeric digits, and hyphens.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "id": {
                "description": "a 1-50 character string. We strongly recommend using only lowercase letters, numeric digits, and hyphens.",
                "value": "my-entry"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:create"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/scopes/{scope_id}/entries/{entry_id}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Data Store Entry",
        "description": "Gets the specified entry.\n\n To get the entry at a specific revision, add `@<revisionId>` to the end of\n the path.\n\n For example, to get `my-entry` at the revision ID\n `08DC3D3F43F9FCC1.0000000001.08DC3D3F43F9FCC1.01`, use the path\n `/v2/universes/1234/data-stores/5678/entries/my-entry@08DC3D3F43F9FCC1.0000000001.08DC3D3F43F9FCC1.01`.\n\n If your entry ID contains one or more `@` characters, and you want to get\n the latest version rather than at any specific revision, append the special\n revision ID `@latest` to the end of the path. Otherwise, the segment of the\n entry ID after the last `@` will be interpreted as a revision ID.\n\n For example, to get the latest revision of `my-entry`, use the path\n `/v2/universes/1234/data-stores/5678/entries/my@entry@latest`.\n\n To get the entry that was current at a specific time, add\n `@latest:<timestamp>` to the end of the path, where `<timestamp>` is\n RFC-3339 formatted. The given timestamp must be after\n the Unix epoch (1/1/1970) and not more than ten minutes in the future.\n\n For example, to get the revision of `my-entry` that was current on\n 12/2/2024 at 06:00 UTC, use the path\n `/v2/universes/1234/data-stores/5678/entries/my-entry@latest:2024-12-02T06:00:00Z`.",
        "operationId": "Cloud_GetDataStoreEntry__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:read"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      },
      "delete": {
        "tags": [
          "Cloud"
        ],
        "summary": "Delete Data Store Entry",
        "description": "Marks the specified entry for deletion.\n\n Entries are not be deleted immediately; instead, the `state` field will\n be set to `DELETED`. Permanent deletion occurs after 30 days.\n\n On success, returns 200 OK. If the entry doesn't exist, returns\n 404 Not Found.",
        "operationId": "Cloud_DeleteDataStoreEntry__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:delete"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "summary": "Update Data Store Entry",
        "description": "Updates the value, attributes, and users of an entry.\n\n Updating specific revisions of the entry is **unsupported**. If you specify\n a revision ID in the path and `allow_missing` is `true`, the update request\n will instead create a new entry with the `@<revisionId>` suffix as part of\n the key.\n\n Partial update is **unsupported**. If attributes or users are not\n provided when updating the value, they will be cleared. Value must always\n be provided when updating an entry.",
        "operationId": "Cloud_UpdateDataStoreEntry__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the data store entry is not found, a data store entry\n is created.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:update"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/scopes/{scope_id}/entries/{entry_id}:increment": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Increment Data Store Entry",
        "description": "Increments the value of the specified entry. Both the existing value and\n the increment amount must be integers.\n\n If the entry doesn't exist, creates an entry with the specified value.\n\n Incrementing specific revisions of the entry is **unsupported**. If you\n specify a revision ID in the path, the increment request will create a new\n entry with the `@<revisionId>` suffix as part of the key.\n\n Known issue: the value may be incremented past the valid range of  values.\n When this happens, the returned value will be clamped to the valid range,\n but the backend may persist the original value. This behavior is maintained\n for backwards compatibility reasons, but may change in a future version of\n this API.",
        "operationId": "Cloud_IncrementDataStoreEntry__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncrementDataStoreEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:create",
              "universe-datastores.objects:update"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/scopes/{scope_id}/entries/{entry_id}:listRevisions": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Data Store Entry Revisions",
        "description": "List revisions of the data store entry.\n\n This method returns partial data store entries.\n\n In particular, only the `path`, `id`, `createTime`, `revisionCreateTime`,\n `revisionId`, `etag`, and `state` fields are populated. Both the `path` and\n `id` fields will have an `@<version>` suffix.\n\n In order to get the full entry at a revision, you can use the provided\n `path` field with the `GetDataStoreEntry` method, i.e. `GET\n /v1/universes/1234/data-stores/5678/entries/my-entry@<version>`.",
        "operationId": "Cloud_ListDataStoreEntryRevisions__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of revisions to return per page.\n\n The service might return fewer than the maximum number of revisions.\n If unspecified, at most 10 revisions are returned.\n The maximum value is 100 values and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call\n must match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Supports the following subset of CEL:\n\n * Only the `&&`, `<=`, and `>=` operators are supported.\n * Only the `revision_create_time` field is supported.\n\n For example:\n\n   `\"revision_create_time >= 2000-01-01T00:00:00Z && revision_create_time <=\n   2001-01-01T00:00:00Z\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoreEntryRevisionsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.versions:list"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores:snapshot": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Snapshot Data Stores",
        "description": "Takes a new snapshot of the data stores in an experience.\n\n After a snapshot, the next write to every key in the experience will\n create a versioned backup of the previous data, regardless of the time of\n the last write.\n\n In effect, all data current at the time of the snapshot is guaranteed to be\n available as a versioned backup for at least 30 days.\n\n Snapshots can be taken once per UTC day, per experience. If the latest\n snapshot was taken within the same UTC day, this operation is a no-op and\n the time of the latest snapshot will be returned.\n\n For more information on using snapshots, see the [Data\n Stores](https://create.roblox.com/docs/cloud-services/data-stores#snapshots)\n Engine guide.",
        "operationId": "Cloud_SnapshotDataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnapshotDataStoresRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotDataStoresResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.control:snapshot"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStore",
            "name": "DataStore"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/memory-store/queues/{queue_id}/items": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Create Memory Store Queue Item",
        "description": "Creates a new queue item.\n\n If `ttl` is set, the item will automatically be removed from the queue\n after the time interval specified.\n\n If a numerical `priority` is set, the item will be inserted into the queue\n based on the priority value. The higher the value, the closer to the front\n of the queue the item will be. If priority values are the same then the\n item will be inserted after existing values with the same priority.",
        "operationId": "Cloud_CreateMemoryStoreQueueItem",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queue_id",
            "in": "path",
            "description": "The queue ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryStoreQueueItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryStoreQueueItem"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.queue:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreQueueItem",
            "name": "MemoryStoreQueueItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/memory-store/queues/{queue_id}/items:discard": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Discard Memory Store Queue Items",
        "description": "Discards read items from the front of the queue.\n\n Takes a `readId` from a previous `Read` operation.",
        "operationId": "Cloud_DiscardMemoryStoreQueueItems",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queue_id",
            "in": "path",
            "description": "The queue ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscardMemoryStoreQueueItemsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.queue:discard"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreQueueItem",
            "name": "MemoryStoreQueueItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/memory-store/queues/{queue_id}/items:read": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Read Memory Store Queue Items",
        "description": "Returns the specified number of items at the front of the queue.",
        "operationId": "Cloud_ReadMemoryStoreQueueItems",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queue_id",
            "in": "path",
            "description": "The queue ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "The number of items to read from the queue\n If unspecified, 1 item will be returned.\n The maximum value is 200; values above 200 will be coerced to 200.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "allOrNothing",
            "in": "query",
            "description": "If `all_or_nothing` is true and the requested number of objects is not\n available, will return a 404 Error.\n\n Otherwise, will return the path and read_id of the read operation and a\n list of the MemoryStoreQueue items.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          },
          {
            "name": "invisibilityWindow",
            "in": "query",
            "description": "Invisibility window for items read, in seconds.\n\n Items read are invisible in subsequent reads during the invisibility\n window duration.\n\n It must be written in seconds greater than 0 and end with `s`.\n\n Defaults to `30s`.",
            "schema": {
              "example": "3s",
              "type": "string",
              "format": "duration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadMemoryStoreQueueItemsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.queue:dequeue"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreQueueItem",
            "name": "MemoryStoreQueueItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/memory-store/sorted-maps/{sorted_map_id}/items": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Memory Store Sorted Map Items",
        "description": "Gets and returns items in the map with a given order and filter.",
        "operationId": "Cloud_ListMemoryStoreSortedMapItems",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted_map_id",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of memory store sorted map items to return. The service\n might return fewer than this value. If unspecified, at most 1 memory store\n sorted map items are returned. The maximum value is 100 and higher values\n are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 1
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "If specified, results are ordered according to the specified fields.\n\n Values must be a comma-separated list of fields, with an optional,\n per-field \" desc\" suffix to sort by descending rather than ascending\n values. You can access subfields with a `.` operator.\n\n Results may be ordered by the following fields: id.\n\n Example: \"id desc\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n Filtering conforms to Common Expression Language (CEL). Only the `id`\n and `sortKey` fields are supported. In terms of operators, only `<`, `>`\n and `&&` are allowed'\n\n Example: `id > \"key-001\" && id < \"key-100\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMemoryStoreSortedMapItemsResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:read"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      },
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Create Memory Store Sorted Map Item",
        "description": "Creates the specified map item if it doesn't exist.",
        "operationId": "Cloud_CreateMemoryStoreSortedMapItem",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted_map_id",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID to use for the memory store sorted map item, which will become the\n final component of the memory store sorted map item's resource path.\n\n This value should be a 1-127 character string that supports alphanumeric\n and special characters. This id is case sensitive. The id must be url\n encoded if it contains any url breaking special characters.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "id": {
                "description": "a 1-127 character string that supports alphanumeric and special characters. This id is case sensitive. The id must be url encoded if it contains any url breaking special characters.",
                "value": "Hello!"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/memory-store/sorted-maps/{sorted_map_id}/items/{item_id}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Memory Store Sorted Map Item",
        "description": "Gets and returns the value of the given key in the map.",
        "operationId": "Cloud_GetMemoryStoreSortedMapItem",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted_map_id",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:read"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      },
      "delete": {
        "tags": [
          "Cloud"
        ],
        "summary": "Delete Memory Store Sorted Map Item",
        "description": "Deletes the specified item from the map.",
        "operationId": "Cloud_DeleteMemoryStoreSortedMapItem",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted_map_id",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud"
        ],
        "summary": "Update Memory Store Sorted Map Item",
        "description": "Updates the specified map item.",
        "operationId": "Cloud_UpdateMemoryStoreSortedMapItem",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sorted_map_id",
            "in": "path",
            "description": "The sorted-map ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "item_id",
            "in": "path",
            "description": "The item ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the memory store sorted map item is not found, a memory\n store sorted map item is created.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryStoreSortedMapItem"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store.sorted-map:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStoreSortedMapItem",
            "name": "MemoryStoreSortedMapItem"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/memory-store:flush": {
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Flush Memory Store",
        "description": "Asynchronously flush all data structures in the universe.",
        "operationId": "Cloud_FlushMemoryStore",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlushMemoryStoreRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "x-long-running-operation-parameters": {
          "metadata": {
            "$ref": "#/components/schemas/FlushMemoryStoreMetadata"
          },
          "response": {
            "$ref": "#/components/schemas/FlushMemoryStoreResponse"
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.memory-store:flush"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/MemoryStore",
            "name": "MemoryStore"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/ordered-data-stores/{ordered_data_store_id}/scopes/{scope_id}/entries": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "List Ordered Data Store Entries",
        "description": "Returns a list of entries from an ordered data store.",
        "operationId": "Cloud_ListOrderedDataStoreEntries",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordered_data_store_id",
            "in": "path",
            "description": "The ordered-data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of ordered data store entries to return. The service\n might return fewer than this value. If unspecified, at most 10 ordered data\n store entries are returned. The maximum value is 100 and higher values are\n set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\n When paginating, all other parameters provided to the subsequent call must\n match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "If specified, results are ordered according to the specified fields.\n\n Values must be a comma-separated list of fields, with an optional,\n per-field \" desc\" suffix to sort by descending rather than ascending\n values. You can access subfields with a `.` operator.\n\n Results may be ordered by the following fields: value.\n\n Example: \"value desc\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\n We support two comparison operators for this operation: `<=` and `>=`.These\n comparison operators act as a minValue and maxValue for the values\n returned. If filtering is needed for a value between a minValue and\n maxValue the user can use the logical operator `&&`. All tokens in the\n filter expression must be separated by a single space.\n\n Example filters: `entry <= 10`; `entry >= 10 && entry <= 30`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOrderedDataStoreEntriesResponse"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.ordered-data-store.scope.entry:read"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/OrderedDataStoreEntry",
            "name": "OrderedDataStoreEntry"
          }
        }
      },
      "post": {
        "tags": [
          "Cloud"
        ],
        "summary": "Create Ordered Data Store Entry",
        "description": "Creates an entry with the provided ID and value.\n\n Returns a 400 Bad Request if the entry exists.",
        "operationId": "Cloud_CreateOrderedDataStoreEntry",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordered_data_store_id",
            "in": "path",
            "description": "The ordered-data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID to use for the ordered data store entry, which will become the final\n component of the ordered data store entry's resource path.\n\n This value should be A 1-63 character string. We strongly recommend using\n only lowercase letters, numeric digits, and hyphens.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "id": {
                "description": "A 1-63 character string. We strongly recommend using only lowercase letters, numeric digits, and hyphens.",
                "value": "my-entry"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderedDataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderedDataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.ordered-data-store.scope.entry:write"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/OrderedDataStoreEntry",
            "name": "OrderedDataStoreEntry"
          }
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/ordered-data-stores/{ordered_data_store_id}/scopes/{scope_id}/entries/{entry_id}": {
      "get": {
        "tags": [
          "Cloud"
        ],
        "summary": "Get Ordered Data Store Entry",
        "description": "Gets the specified entry.",
        "operationId": "Cloud_GetOrderedDataStoreEntry",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordered_data_store_id",
            "in": "path",
            "description": "The ordered-data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderedDataStoreEntry"
                }
              }
            }
          }
        },
        "x-visibility": "BETA",
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe.ordered-data-store.scope.entry:read"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/OrderedDataStoreEntry",
            "name": "OrderedDataStoreEntry"
          }
        }
      },
      "delete": {
[...]
