{
  "openapi": "3.0.4",
  "info": {
    "title": "Roblox API",
    "description": "The Roblox API. See https://create.roblox.com/docs/cloud/open-cloud for more details.",
    "version": "1.0.0",
    "x-roblox-extensions-version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apis.roblox.com"
    }
  ],
  "paths": {
    "/cloud/v2/creator-store-products": {
      "post": {
        "tags": ["Creator Store"],
        "summary": "Create Creator Store Product",
        "description": "Add a Creator Store product. Only use this method if your product has never\nbeen distributed on the Creator Store; otherwise, use the `PATCH` method to\nupdate the product.",
        "operationId": "Cloud_CreateCreatorStoreProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorStoreProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "name": "creator-store-product:write"
          }
        ],
        "x-roblox-docs": {
          "category": "Monetization",
          "methodProperties": {
            "scopes": ["creator-store-product:write"]
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 150
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 30
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/creator-store#Cloud_CreateCreatorStoreProduct"
        }
      }
    },
    "/cloud/v2/creator-store-products/{creator_store_product_id}": {
      "get": {
        "tags": ["Creator Store"],
        "summary": "Get Creator Store Product",
        "description": "Get a Creator Store product.",
        "operationId": "Cloud_GetCreatorStoreProduct",
        "parameters": [
          {
            "name": "creator_store_product_id",
            "in": "path",
            "description": "The creator-store-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "name": "creator-store-product:read"
          }
        ],
        "x-roblox-docs": {
          "category": "Monetization",
          "methodProperties": {
            "scopes": ["creator-store-product:read"]
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 150
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 30
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/creator-store#Cloud_GetCreatorStoreProduct"
        }
      },
      "patch": {
        "tags": ["Creator Store"],
        "summary": "Update Creator Store Product",
        "description": "Update a Creator Store product.",
        "operationId": "Cloud_UpdateCreatorStoreProduct",
        "parameters": [
          {
            "name": "creator_store_product_id",
            "in": "path",
            "description": "The creator-store-product ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the creator store product is not found, a creator store\nproduct is created. In this situation, `update_mask` is ignored.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorStoreProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorStoreProduct"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "name": "creator-store-product:write"
          }
        ],
        "x-roblox-docs": {
          "category": "Monetization",
          "methodProperties": {
            "scopes": ["creator-store-product:write"]
          },
          "resource": {
            "$ref": "#/components/schemas/CreatorStoreProduct",
            "name": "CreatorStoreProduct"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 150
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 30
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/creator-store#Cloud_UpdateCreatorStoreProduct"
        }
      }
    },
    "/cloud/v2/groups/{group_id}": {
      "get": {
        "tags": ["Groups"],
        "summary": "Get Group",
        "description": "Gets the specified group.",
        "operationId": "Cloud_GetGroup",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/Group",
            "name": "Group"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 150
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 30
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_GetGroup"
        }
      }
    },
    "/cloud/v2/groups/{group_id}/join-requests": {
      "get": {
        "tags": ["Groups"],
        "summary": "List Group Join Requests",
        "description": "List join requests under a group.",
        "operationId": "Cloud_ListGroupJoinRequests",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group join requests to return. The service might\nreturn fewer than this value. If unspecified, at most 10 group join\nrequests are returned. The maximum value is 20 and higher values are set\nto 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 20, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\nWhen paginating, all other parameters provided to the subsequent call must\nmatch the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\nFiltering conforms to Common Expression Language (CEL). Only the `user`\nfield and `==` operator are supported.\n\n\nExample: `\"user == 'users/156'\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupJoinRequestsResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "name": "group:read"
          }
        ],
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": ["group:read"]
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 300
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 90
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_ListGroupJoinRequests"
        }
      }
    },
    "/cloud/v2/groups/{group_id}/join-requests/{join_request_id}:accept": {
      "post": {
        "tags": ["Groups"],
        "summary": "Accept Group Join Request",
        "description": "Accepts a join request.",
        "operationId": "Cloud_AcceptGroupJoinRequest",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join_request_id",
            "in": "path",
            "description": "The join-request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptGroupJoinRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "name": "group:write"
          }
        ],
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": ["group:write"]
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 100
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 90
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_AcceptGroupJoinRequest"
        }
      }
    },
    "/cloud/v2/groups/{group_id}/join-requests/{join_request_id}:decline": {
      "post": {
        "tags": ["Groups"],
        "summary": "Decline Group Join Request",
        "description": "Declines a join request.",
        "operationId": "Cloud_DeclineGroupJoinRequest",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "join_request_id",
            "in": "path",
            "description": "The join-request ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeclineGroupJoinRequestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "name": "group:write"
          }
        ],
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": ["group:write"]
          },
          "resource": {
            "$ref": "#/components/schemas/GroupJoinRequest",
            "name": "GroupJoinRequest"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 100
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 90
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_DeclineGroupJoinRequest"
        }
      }
    },
    "/cloud/v2/groups/{group_id}/memberships": {
      "get": {
        "tags": ["Groups"],
        "summary": "List Group Memberships",
        "description": "List group members in a group.",
        "operationId": "Cloud_ListGroupMemberships",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group memberships to return. The service might return\nfewer than this value. If unspecified, at most 10 group memberships are\nreturned. The maximum value is 100 and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\nWhen paginating, all other parameters provided to the subsequent call must\nmatch the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\nSee the\n[filtering](/cloud/reference/patterns#list-group-memberships)\ndocumentation for more information.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupMembershipsResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/GroupMembership",
            "name": "GroupMembership"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 300
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 90
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_ListGroupMemberships"
        }
      }
    },
    "/cloud/v2/groups/{group_id}/memberships/{membership_id}": {
      "patch": {
        "tags": ["Groups"],
        "summary": "Update Group Membership",
        "description": "Updates the group membership for a particular group member. This action\nrequires the requester to be able to manage lower ranked members. Guest or\nOwner ranks cannot be assigned, and a requester cannot change their own\nrank.",
        "operationId": "Cloud_UpdateGroupMembership",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "membership_id",
            "in": "path",
            "description": "The membership ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GroupMembership"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupMembership"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "name": "group:write"
          }
        ],
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": ["group:write"]
          },
          "resource": {
            "$ref": "#/components/schemas/GroupMembership",
            "name": "GroupMembership"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 300
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 90
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_UpdateGroupMembership"
        }
      }
    },
    "/cloud/v2/groups/{group_id}/roles": {
      "get": {
        "tags": ["Groups"],
        "summary": "List Group Roles",
        "description": "List roles in a group.\n\nThe permissions field for roles is viewable based on the requester's access\nand scopes.\n\nPermissions for the guest role are always visible - a scope is not needed.\n\nIf the requester is a member of the group and has the `group:read` scope,\npermissions in their role are visible.\n\nIf the requester is the owner of the group and has the `group:read` scope,\npermissions in all roles are visible.",
        "operationId": "Cloud_ListGroupRoles",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of group roles to return. The service might return fewer\nthan this value. If unspecified, at most 10 group roles are returned. The\nmaximum value is 20 and higher values are set to 20.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 20, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\nWhen paginating, all other parameters provided to the subsequent call must\nmatch the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListGroupRolesResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "description": "Required to view permissions in non-guest roles.",
            "name": "group:read"
          }
        ],
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/GroupRole",
            "name": "GroupRole"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 300
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 90
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_ListGroupRoles"
        }
      }
    },
    "/cloud/v2/groups/{group_id}/roles/{role_id}": {
      "get": {
        "tags": ["Groups"],
        "summary": "Get Group Role",
        "description": "Get the group role",
        "operationId": "Cloud_GetGroupRole",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "path",
            "description": "The role ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupRole"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "description": "Required to view permissions in non-guest roles.",
            "name": "group:read"
          }
        ],
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/GroupRole",
            "name": "GroupRole"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 300
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 90
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_GetGroupRole"
        }
      }
    },
    "/cloud/v2/groups/{group_id}/shout": {
      "get": {
        "tags": ["Groups"],
        "summary": "Get Group Shout",
        "description": "Gets the group shout.\n\nIf a guest can view the group shout, this is always retrievable.\n\nIf a guest cannot, a member who has the permissions to view the group\nshout, along with the `group:read` scope, will be able to read the group\nshout.",
        "operationId": "Cloud_GetGroupShout",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "The group ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupShout"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "description": "Required to view the group shout if a guest cannot view the group shout.",
            "name": "group:read"
          }
        ],
        "x-roblox-docs": {
          "category": "Users and groups",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/GroupShout",
            "name": "GroupShout"
          }
        },
        "x-roblox-stability": "BETA",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 150
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 30
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/groups#Cloud_GetGroupShout"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}": {
      "get": {
        "tags": ["Universes"],
        "summary": "Get Universe",
        "description": "Gets the specified universe.",
        "operationId": "Cloud_GetUniverse",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Universe"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-docs": {
          "category": "Universes and places",
          "methodProperties": {
            "scopes": []
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        },
        "x-roblox-stability": "STABLE",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 100
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 100
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/universes#Cloud_GetUniverse"
        }
      },
      "patch": {
        "tags": ["Universes"],
        "summary": "Update Universe",
        "description": "Updates the specified universe.\n\nThis method is guaranteed to return all updated fields.\nThis method may additionally return the full resource.",
        "operationId": "Cloud_UpdateUniverse",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateMask",
            "in": "query",
            "description": "The list of fields to update.",
            "schema": {
              "type": "string",
              "format": "field-mask"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Universe"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Universe"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-scopes": [
          {
            "name": "universe:write"
          }
        ],
        "x-roblox-docs": {
          "category": "Universes and places",
          "methodProperties": {
            "scopes": ["universe:write"]
          },
          "resource": {
            "$ref": "#/components/schemas/Universe",
            "name": "Universe"
          }
        },
        "x-roblox-stability": "STABLE",
        "x-roblox-rate-limits": {
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 100
          },
          "perOauth2Authorization": {
            "period": "MINUTE",
            "maxInPeriod": 100
          }
        },
        "security": [
          {
            "roblox-api-key": []
          },
          {
            "roblox-oauth2": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/universes#Cloud_UpdateUniverse"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores": {
      "get": {
        "tags": ["Data and memory stores"],
        "summary": "List Data Stores",
        "description": "Returns a list of data stores.\n\nData stores scheduled for permanent deletion are omitted from the results\nby default (or when `showDeleted` is set to `false`). When this is the\ncase, the operation will check up to 512 data stores. If all checked data\nstores are deleted, it will return an empty list with a page token to\ncontinue iteration.",
        "operationId": "Cloud_ListDataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of data stores to return. The service might return fewer\nthan this value. If unspecified, at most 10 data stores are returned. The\nmaximum value is 100 and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\nWhen paginating, all other parameters provided to the subsequent call must\nmatch the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\nThe `filter` field supports a very small subset of CEL:\n\n* Only the `id` field is supported.\n* Only the `startsWith` function is available; no other operators nor\n  built-ins are supported.\n\nExample filter: `id.startsWith(\"foo\")`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "If true, resources marked for pending deletion will be included in the\nresults.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoresResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 500
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.control:list"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.control:list"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStore",
            "name": "DataStore"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_ListDataStores"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}": {
      "delete": {
        "tags": ["Data and memory stores"],
        "summary": "Delete Data Store",
        "description": "Schedules the specified data store for permanent deletion.\n\nThis operation assigns the data store an expiry time 30 days in the future,\nat which point permanent deletion begins. To cancel, use the\n`UndeleteDataStore` operation before the data store's expiry time.\n\nPermanent deletion consists of deleting all of the entries in the data\nstore and then the data store resource itself. The data store is no longer\nreturned by the `ListDataStores` Open Cloud endpoint or\n`ListDataStoresAsync` Luau API, and you can reuse the data store's name.\n\nThe duration of the permanent deletion process depends on the number of\nentries in the data store. However, you can expect a data store with 1\nmillion or fewer entries to be permanently deleted within 3 days.\n\nData stores scheduled for permanent deletion are returned by the\n`ListDataStores` Open Cloud endpoint when the query parameter `showDeleted`\nis set to `true`. In the return value, each data store will have a\n`DELETED` state and an `expireTime` field.\n\nData stores scheduled for permanent deletion are immediately made\ninaccessible, meaning attempts to read or write to their entries will fail.\n\nNote: Due to caching in the backend service, attempts to read from or write\nto entries in these data stores can continue to succeed for a limited time\nafter the deletion:\n* `GetDataStoreEntry`: can succeed for up to 24 hours.\n* All other endpoints: can succeed for several minutes.\n\nIf the data store is already in a `DELETED` state, this operation is a\nno-op, and the data store is returned as-is.",
        "operationId": "Cloud_DeleteDataStore",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStore"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 300
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.control:delete"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.control:delete"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStore",
            "name": "DataStore"
          }
        },
        "x-roblox-stability": "BETA",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_DeleteDataStore"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/entries": {
      "get": {
        "tags": ["Data and memory stores"],
        "summary": "List Data Store Entries",
        "description": "Returns a list of entries from a data store.\n\nOnly the `path` and `id` fields are populated; use `GetDataStoreEntry`\nto retrieve other fields.\n\nSpecify the wildcard scope (`-`) to list entries from all scopes.",
        "operationId": "Cloud_ListDataStoreEntries__Using_Universes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of data store entries to return. The service might\nreturn fewer than this value. If unspecified, at most 10 data store entries\nare returned. The maximum value is 256 and higher values are set to 256.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 256, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\nWhen paginating, all other parameters provided to the subsequent call must\nmatch the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\nThe `filter` field supports a very small subset of CEL:\n\n* Only the `id` field is supported.\n* Only the `startsWith` function is available; no other operators nor\n  built-ins are supported.\n\nExample filter: `id.startsWith(\"foo\")`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "If true, resources marked for pending deletion will be included in the\nresults.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoreEntriesResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 500000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:list"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:list"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_ListDataStoreEntries__Using_Universes"
        }
      },
      "post": {
        "tags": ["Data and memory stores"],
        "summary": "Create Data Store Entry",
        "description": "Creates an entry with the provided ID and value.\n\nReturns a 400 Bad Request if the entry exists.",
        "operationId": "Cloud_CreateDataStoreEntry__Using_Universes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID to use for the data store entry, which will become the final\ncomponent of the data store entry's resource path.\n\nThis value should be a 1-50 character string. We strongly recommend using\nonly lowercase letters, numeric digits, and hyphens.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "id": {
                "description": "a 1-50 character string. We strongly recommend using only lowercase letters, numeric digits, and hyphens.",
                "value": "my-entry"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 1000000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:create"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:create"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_CreateDataStoreEntry__Using_Universes"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/entries/{entry_id}": {
      "get": {
        "tags": ["Data and memory stores"],
        "summary": "Get Data Store Entry",
        "description": "Gets the specified entry.\n\nTo get the entry at a specific revision, add `@<revisionId>` to the end of\nthe path.\n\nFor example, to get `my-entry` at the revision ID\n`08DC3D3F43F9FCC1.0000000001.08DC3D3F43F9FCC1.01`, use the path\n`/cloud/v2/universes/1234/data-stores/5678/entries/my-entry@08DC3D3F43F9FCC1.0000000001.08DC3D3F43F9FCC1.01`.\n\nIf your entry ID contains one or more `@` characters, and you want to get\nthe latest version rather than at any specific revision, append the special\nrevision ID `@latest` to the end of the path. Otherwise, the segment of the\nentry ID after the last `@` will be interpreted as a revision ID.\n\nFor example, to get the latest revision of `my-entry`, use the path\n`/cloud/v2/universes/1234/data-stores/5678/entries/my@entry@latest`.\n\nTo get the entry that was current at a specific time, add\n`@latest:<timestamp>` to the end of the path, where `<timestamp>` is\nRFC-3339 formatted. The given timestamp must be after\nthe Unix epoch (1/1/1970) and not more than ten minutes in the future.\n\nFor example, to get the revision of `my-entry` that was current on\n12/2/2024 at 06:00 UTC, use the path\n`/cloud/v2/universes/1234/data-stores/5678/entries/my-entry@latest:2024-12-02T06:00:00Z`.",
        "operationId": "Cloud_GetDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 1000000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:read"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:read"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_GetDataStoreEntry__Using_Universes_DataStores"
        }
      },
      "delete": {
        "tags": ["Data and memory stores"],
        "summary": "Delete Data Store Entry",
        "description": "Marks the specified entry for deletion.\n\nEntries are not be deleted immediately; instead, the `state` field will\nbe set to `DELETED`. Permanent deletion occurs after 30 days.\n\nOn success, returns 200 OK. If the entry doesn't exist, returns\n404 Not Found.",
        "operationId": "Cloud_DeleteDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 1000000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:delete"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:delete"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_DeleteDataStoreEntry__Using_Universes_DataStores"
        }
      },
      "patch": {
        "tags": ["Data and memory stores"],
        "summary": "Update Data Store Entry",
        "description": "Updates the value, attributes, and users of an entry.\n\nUpdating specific revisions of the entry is **unsupported**. If you specify\na revision ID in the path and `allow_missing` is `true`, the update request\nwill instead create a new entry with the `@<revisionId>` suffix as part of\nthe key.\n\nPartial update is **unsupported**. If attributes or users are not\nprovided when updating the value, they will be cleared. Value must always\nbe provided when updating an entry.",
        "operationId": "Cloud_UpdateDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the data store entry is not found, a data store entry\nis created.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 1000000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:update"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:update"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_UpdateDataStoreEntry__Using_Universes_DataStores"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/entries/{entry_id}:increment": {
      "post": {
        "tags": ["Data and memory stores"],
        "summary": "Increment Data Store Entry",
        "description": "Increments the value of the specified entry. Both the existing value and\nthe increment amount must be integers.\n\nIf the entry doesn't exist, creates an entry with the specified value.\n\nIncrementing specific revisions of the entry is **unsupported**. If you\nspecify a revision ID in the path, the increment request will create a new\nentry with the `@<revisionId>` suffix as part of the key.\n\nKnown issue: the value may be incremented past the valid range of  values.\nWhen this happens, the returned value will be clamped to the valid range,\nbut the backend may persist the original value. This behavior is maintained\nfor backwards compatibility reasons, but may change in a future version of\nthis API.",
        "operationId": "Cloud_IncrementDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncrementDataStoreEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 500000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:create"
          },
          {
            "name": "universe-datastores.objects:update"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:create",
              "universe-datastores.objects:update"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_IncrementDataStoreEntry__Using_Universes_DataStores"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/entries/{entry_id}:listRevisions": {
      "get": {
        "tags": ["Data and memory stores"],
        "summary": "List Data Store Entry Revisions",
        "description": "List revisions of the data store entry.\n\nThis method returns partial data store entries.\n\nIn particular, only the `path`, `id`, `createTime`, `revisionCreateTime`,\n`revisionId`, `etag`, and `state` fields are populated. Both the `path` and\n`id` fields will have an `@<version>` suffix.\n\nIn order to get the full entry at a revision, you can use the provided\n`path` field with the `GetDataStoreEntry` method, i.e. `GET\n/cloud/v2/universes/1234/data-stores/5678/entries/my-entry@<version>`.",
        "operationId": "Cloud_ListDataStoreEntryRevisions__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of revisions to return per page.\n\nThe service might return fewer than the maximum number of revisions.\nIf unspecified, at most 10 revisions are returned.\nThe maximum value is 100 values and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\nWhen paginating, all other parameters provided to the subsequent call\nmust match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Supports the following subset of CEL:\n\n* Only the `&&`, `<=`, and `>=` operators are supported.\n* Only the `revision_create_time` field is supported.\n\nFor example:\n\n  `\"revision_create_time >= 2000-01-01T00:00:00Z && revision_create_time <=\n  2001-01-01T00:00:00Z\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoreEntryRevisionsResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 500
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.versions:list"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.versions:list"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_ListDataStoreEntryRevisions__Using_Universes_DataStores"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/scopes/{scope_id}/entries": {
      "get": {
        "tags": ["Data and memory stores"],
        "summary": "List Data Store Entries",
        "description": "Returns a list of entries from a data store.\n\nOnly the `path` and `id` fields are populated; use `GetDataStoreEntry`\nto retrieve other fields.\n\nSpecify the wildcard scope (`-`) to list entries from all scopes.",
        "operationId": "Cloud_ListDataStoreEntries__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of data store entries to return. The service might\nreturn fewer than this value. If unspecified, at most 10 data store entries\nare returned. The maximum value is 256 and higher values are set to 256.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 256, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\nWhen paginating, all other parameters provided to the subsequent call must\nmatch the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "This field may be set in order to filter the resources returned.\n\nThe `filter` field supports a very small subset of CEL:\n\n* Only the `id` field is supported.\n* Only the `startsWith` function is available; no other operators nor\n  built-ins are supported.\n\nExample filter: `id.startsWith(\"foo\")`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showDeleted",
            "in": "query",
            "description": "If true, resources marked for pending deletion will be included in the\nresults.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoreEntriesResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 500
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:list"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:list"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_ListDataStoreEntries__Using_Universes_DataStores"
        }
      },
      "post": {
        "tags": ["Data and memory stores"],
        "summary": "Create Data Store Entry",
        "description": "Creates an entry with the provided ID and value.\n\nReturns a 400 Bad Request if the entry exists.",
        "operationId": "Cloud_CreateDataStoreEntry__Using_Universes_DataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The ID to use for the data store entry, which will become the final\ncomponent of the data store entry's resource path.\n\nThis value should be a 1-50 character string. We strongly recommend using\nonly lowercase letters, numeric digits, and hyphens.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "id": {
                "description": "a 1-50 character string. We strongly recommend using only lowercase letters, numeric digits, and hyphens.",
                "value": "my-entry"
              }
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 1000000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:create"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:create"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_CreateDataStoreEntry__Using_Universes_DataStores"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/scopes/{scope_id}/entries/{entry_id}": {
      "get": {
        "tags": ["Data and memory stores"],
        "summary": "Get Data Store Entry",
        "description": "Gets the specified entry.\n\nTo get the entry at a specific revision, add `@<revisionId>` to the end of\nthe path.\n\nFor example, to get `my-entry` at the revision ID\n`08DC3D3F43F9FCC1.0000000001.08DC3D3F43F9FCC1.01`, use the path\n`/cloud/v2/universes/1234/data-stores/5678/entries/my-entry@08DC3D3F43F9FCC1.0000000001.08DC3D3F43F9FCC1.01`.\n\nIf your entry ID contains one or more `@` characters, and you want to get\nthe latest version rather than at any specific revision, append the special\nrevision ID `@latest` to the end of the path. Otherwise, the segment of the\nentry ID after the last `@` will be interpreted as a revision ID.\n\nFor example, to get the latest revision of `my-entry`, use the path\n`/cloud/v2/universes/1234/data-stores/5678/entries/my@entry@latest`.\n\nTo get the entry that was current at a specific time, add\n`@latest:<timestamp>` to the end of the path, where `<timestamp>` is\nRFC-3339 formatted. The given timestamp must be after\nthe Unix epoch (1/1/1970) and not more than ten minutes in the future.\n\nFor example, to get the revision of `my-entry` that was current on\n12/2/2024 at 06:00 UTC, use the path\n`/cloud/v2/universes/1234/data-stores/5678/entries/my-entry@latest:2024-12-02T06:00:00Z`.",
        "operationId": "Cloud_GetDataStoreEntry__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 1000000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:read"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:read"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_GetDataStoreEntry__Using_Universes_DataStores_Scopes"
        }
      },
      "delete": {
        "tags": ["Data and memory stores"],
        "summary": "Delete Data Store Entry",
        "description": "Marks the specified entry for deletion.\n\nEntries are not be deleted immediately; instead, the `state` field will\nbe set to `DELETED`. Permanent deletion occurs after 30 days.\n\nOn success, returns 200 OK. If the entry doesn't exist, returns\n404 Not Found.",
        "operationId": "Cloud_DeleteDataStoreEntry__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 1000000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:delete"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:delete"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_DeleteDataStoreEntry__Using_Universes_DataStores_Scopes"
        }
      },
      "patch": {
        "tags": ["Data and memory stores"],
        "summary": "Update Data Store Entry",
        "description": "Updates the value, attributes, and users of an entry.\n\nUpdating specific revisions of the entry is **unsupported**. If you specify\na revision ID in the path and `allow_missing` is `true`, the update request\nwill instead create a new entry with the `@<revisionId>` suffix as part of\nthe key.\n\nPartial update is **unsupported**. If attributes or users are not\nprovided when updating the value, they will be cleared. Value must always\nbe provided when updating an entry.",
        "operationId": "Cloud_UpdateDataStoreEntry__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowMissing",
            "in": "query",
            "description": "If set to true, and the data store entry is not found, a data store entry\nis created.",
            "schema": {
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DataStoreEntry"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 1000000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:update"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.objects:update"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_UpdateDataStoreEntry__Using_Universes_DataStores_Scopes"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/scopes/{scope_id}/entries/{entry_id}:increment": {
      "post": {
        "tags": ["Data and memory stores"],
        "summary": "Increment Data Store Entry",
        "description": "Increments the value of the specified entry. Both the existing value and\nthe increment amount must be integers.\n\nIf the entry doesn't exist, creates an entry with the specified value.\n\nIncrementing specific revisions of the entry is **unsupported**. If you\nspecify a revision ID in the path, the increment request will create a new\nentry with the `@<revisionId>` suffix as part of the key.\n\nKnown issue: the value may be incremented past the valid range of  values.\nWhen this happens, the returned value will be clamped to the valid range,\nbut the backend may persist the original value. This behavior is maintained\nfor backwards compatibility reasons, but may change in a future version of\nthis API.",
        "operationId": "Cloud_IncrementDataStoreEntry__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncrementDataStoreEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStoreEntry"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 500000
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.objects:create"
          },
          {
            "name": "universe-datastores.objects:update"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": [
              "universe-datastores.objects:create",
              "universe-datastores.objects:update"
            ]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_IncrementDataStoreEntry__Using_Universes_DataStores_Scopes"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}/scopes/{scope_id}/entries/{entry_id}:listRevisions": {
      "get": {
        "tags": ["Data and memory stores"],
        "summary": "List Data Store Entry Revisions",
        "description": "List revisions of the data store entry.\n\nThis method returns partial data store entries.\n\nIn particular, only the `path`, `id`, `createTime`, `revisionCreateTime`,\n`revisionId`, `etag`, and `state` fields are populated. Both the `path` and\n`id` fields will have an `@<version>` suffix.\n\nIn order to get the full entry at a revision, you can use the provided\n`path` field with the `GetDataStoreEntry` method, i.e. `GET\n/cloud/v2/universes/1234/data-stores/5678/entries/my-entry@<version>`.",
        "operationId": "Cloud_ListDataStoreEntryRevisions__Using_Universes_DataStores_Scopes",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "scope_id",
            "in": "path",
            "description": "The scope ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entry_id",
            "in": "path",
            "description": "The entry ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maxPageSize",
            "in": "query",
            "description": "The maximum number of revisions to return per page.\n\nThe service might return fewer than the maximum number of revisions.\nIf unspecified, at most 10 revisions are returned.\nThe maximum value is 100 values and higher values are set to 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "examples": {
              "maxPageSize": {
                "description": "An integer between 1 and 100, inclusive",
                "value": 10
              }
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "A page token, received from a previous call, to retrieve a subsequent page.\n\nWhen paginating, all other parameters provided to the subsequent call\nmust match the call that provided the page token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Supports the following subset of CEL:\n\n* Only the `&&`, `<=`, and `>=` operators are supported.\n* Only the `revision_create_time` field is supported.\n\nFor example:\n\n  `\"revision_create_time >= 2000-01-01T00:00:00Z && revision_create_time <=\n  2001-01-01T00:00:00Z\"`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDataStoreEntryRevisionsResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 500
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.versions:list"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.versions:list"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStoreEntry",
            "name": "DataStoreEntry"
          }
        },
        "x-roblox-stability": "STABLE",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_ListDataStoreEntryRevisions__Using_Universes_DataStores_Scopes"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores/{data_store_id}:undelete": {
      "post": {
        "tags": ["Data and memory stores"],
        "summary": "Undelete Data Store",
        "description": "Restore the data store",
        "operationId": "Cloud_UndeleteDataStore",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "data_store_id",
            "in": "path",
            "description": "The data-store ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UndeleteDataStoreRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStore"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": false
        },
        "x-roblox-rate-limits": {
          "description": "Data stores requests are subject to additional throttling limits described in the [Open Cloud guide for data stores](https://create.roblox.com/docs/cloud/guides/data-stores/throttling).",
          "perApiKeyOwner": {
            "period": "MINUTE",
            "maxInPeriod": 300
          }
        },
        "x-roblox-scopes": [
          {
            "name": "universe-datastores.control:delete"
          }
        ],
        "x-roblox-docs": {
          "category": "Data and memory stores",
          "methodProperties": {
            "scopes": ["universe-datastores.control:delete"]
          },
          "resource": {
            "$ref": "#/components/schemas/DataStore",
            "name": "DataStore"
          }
        },
        "x-roblox-stability": "BETA",
        "security": [
          {
            "roblox-api-key": []
          }
        ],
        "externalDocs": {
          "url": "https://create.roblox.com/docs/cloud/reference/features/storage#Cloud_UndeleteDataStore"
        }
      }
    },
    "/cloud/v2/universes/{universe_id}/data-stores:snapshot": {
      "post": {
        "tags": ["Data and memory stores"],
        "summary": "Snapshot Data Stores",
        "description": "Takes a new snapshot of the data stores in an experience.\n\nAfter a snapshot, the next write to every key in the experience will\ncreate a versioned backup of the previous data, regardless of the time of\nthe last write.\n\nIn effect, all data current at the time of the snapshot is guaranteed to be\navailable as a versioned backup for at least 30 days.\n\nSnapshots can be taken once per UTC day, per experience. If the latest\nsnapshot was taken within the same UTC day, this operation is a no-op and\nthe time of the latest snapshot will be returned.\n\nFor more information on using snapshots, see the [Data\nstores](https://create.roblox.com/docs/cloud-services/data-stores#snapshots)\nEngine guide.",
        "operationId": "Cloud_SnapshotDataStores",
        "parameters": [
          {
            "name": "universe_id",
            "in": "path",
            "description": "The universe ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SnapshotDataStoresRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SnapshotDataStoresResponse"
                }
              }
            }
          }
        },
        "x-roblox-engine-usability": {
          "apiKeyWithHttpService": true
        },
        "x-roblox-rate-limits": {
[...]
